*
{
    margin: 0;
    padding: 0;

}


body{
        background-color: rgba(215, 207, 207, 0.4);
      
}

.Question{
    font-family: 'Rubik-Medium.ttf';
}

.subbtn{
    font-family: 'Rubik-Medium.ttf';
}
.out p{
    font-family: 'Rubik-Medium.ttf';
}



@media (min-width:769px) {
    .innerpage {
            position: relative;
            top: 10%;
        }
        
    
    .page {
            background-image: url("../public/pattern-background-desktop-light.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40rem;
    
        }
}

@media (max-width:768px) {

    .page {
        background-image: url("/public/pattern-background-tablet-light.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         height: 50vh;
        
       

    }
}

@media (max-width:450px) {

    .page {
        background-image: url("/public/pattern-background-mobile-light.svg");
    
        background-position:center;
        
       
        background-size: cover;
        height: 50vh;
       

    }
}
