@keyframes movefromleft {

    from {
        transform: translateX(-100px);

    }

    to {
        transform: translateX(0);
    }

}

@keyframes movefromright {

    from {
        transform: translateX(100px);

    }

    to {
        transform: translateX(0);
    }

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.left-side{
    animation: movefromleft 0.3s ease-out 0s 1 normal;
   
}

.right-side{
    animation: movefromright 0.3s ease-out 0s 1 normal;
    

}
.left-content {
    animation: movefromleft 0.3s ease-out 0s 1 normal;
   
}

.right-content {
    animation: movefromright 0.3s ease-out 0s 1 normal;
    

}

.quize-title span img {
    animation: spin 10s infinite linear;
}

@media (max-width:799px) {

    .left-content,
    .right-content,
    .left-side,
    .right-side {
        animation: movefromleft 0.3s ease-out 0s 1 normal;

    }




}

@media (max-width:450px) {
    .left-content,.right-content,.left-side,.right-side {
            animation: movefromleft 0.3s ease-out 0s 1 normal;
    
        }
    
        

    
}

