
:root{
    --background-color :#F4F6FA;
    --textcolor:#313E51;
    --listbg : #FFFFFF;
    --shadow :2px 2px 10px rgba(173, 173, 173, 0.25);
    --progressfill :white;
    --qustionnumbercolor : #626C7F;
    --out :#626C7F;
    
}




.darkmode{
    --background-color: #313E51;
    --textcolor: #FFFFFF;
    --listbg: #3B4D66;
    --shadow:none;
    --progressfill: #3B4D66;
    --qustionnumbercolor: #ABC1E1;
    --out: #ABC1E1;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;  
}

.quize-title
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}

.quiz-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.quize-title p,.quiz-title p{
    margin-left: 15px;
    color: var(--textcolor);
    font-family: 'Rubik-Medium.ttf';
    
}

.out {
   
    font-size: 14px;
    color: var(--out);
}

.quize-title span,.quiz-title span{
    width: 40px;
    height: 40px;
    background: #F4F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.quize-title span img,.quiz-title span img{
    width: 29px;
    height: 29px;
}

.score{
    font-family: 'Rubik-Medium.ttf';
    color:var(--textcolor);
}

@font-face {
    font-family: 'Rubik-Medium.ttf';
    src: url(/public/fonts/static/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'Rubik-Italic.ttf';
    src: url(/public/fonts/static/Rubik-Italic.ttf);
}

@font-face {
    font-family: 'Rubik-Regular.ttf';
    src: url(/public/fonts/static/Rubik-Regular.ttf);
}


 .complete {
     font-family: 'Rubik-Regular.ttf';
     color: var(--textcolor);
 }


.container{
    margin-bottom: 5vh;
}

.scored {
    font-family: 'Rubik-Medium.ttf';
    color: var(--textcolor);
    margin-bottom: 5%;
}

.subbtn ,.trybtn{

    height: 80px;
    background: #A729F5;
    border-radius: 30px;
    outline: none;
    enable-background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 28px;
   


}
.trybtn {
    margin-top: 2rem;
    font-family: 'Rubik-Medium.ttf';
}
.subbtn_{
         height: 80px;
        background: #A729F5;
        border-radius: 30px;
        outline: none;
        enable-background: none;
        border: none;
        color: white;
        cursor: pointer;
        opacity: 50%;
        margin-top: 10px;
        font-size: 28px;
}

.progress-bar{
    width: 300px;
    height: 20px;
    margin-top: 2%;
    background: var(--progressfill);
    border-radius: 999px;
}

.progress-fill{
    border-radius: 999px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    transition: 3s ease-in;
    
}
.topic
{
    display: flex;
    flex-direction: row;
   position: relative;
  justify-items: center;
  align-items: center;
  
}
.progress-fill p{
    color: white;
    font-weight: bold;
}
ul .choice span {
    height: 45px;
    width: 56px;
    background: #F4F6FA;
    border-radius: 5px;
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #626C7F;
   
}
.current-number{
    font-size: 12px;
    font-family: 'Rubik-Italic.ttf';
    color:var(--qustionnumbercolor);
    margin-bottom: 27px;
    margin-top: 30px;
}
ul .choice {
    background: var(--listbg);
    box-shadow: var(--shadow);
    margin: 12px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Rubik-Medium.ttf';

}

ul .choice span:hover{
    color: #A729F5;
}
.result-page {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}
/* 
.left-side, .right-side{
    width: 100%;
} */


@media (min-width:1440px) {
    .quize-title,.quiz-title {
            margin-left: 10%;
        }

    .mode-changer{
        margin-right: 10%;
    }
    
}

@media (max-width:1440px) {
    .quize-title,.quiz-title {
        margin-left: 10%;
    }

    .mode-changer {
        margin-right: 10%;
    }

}

@media (max-width:1024px) {
    .quize-title,.quiz-title {
        margin-left: 5%;
    }

    .mode-changer {
        margin-right: 5%;
    }


    .front-page{
        margin-left: 5%;
        margin-right: 5%;
    }

    .title,.subtitle{
        font-size: 40px;
    }
}
@media (min-width:769px) {
  
    ul .choice .options {
        font-size: 10px;
      
        width: 100%;
    }
    .left-side{
       width: 500px;
    }
    .right-side{
        margin-left: 10%;
        max-width: 596px;
    }
    .progress-bar
    {
        margin-top: 20vh;
    }
    .subbtn,.subbtn_{
        width: 520px;
        height: 65px;   
        padding: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    ul .choice {
        width: 500px;
        height: 65px;
        padding: 8px;
    }
    .left-content{
        margin-left: 5rem;
    }
    .complete {
        font-size: 64px;
    }
    .scored {
        font-size: 64px;
    }
    .results{
        width: 596px;
        height: 386px;
        margin-right: 5rem;
    }
    .result-page{
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }
    .trybtn {
            width: 596px;
    }
    .spacer{
        width: 100%;
    }
    .top{
        position: relative;
        bottom: 10px;
    }
    

    .score {
        font-size: 100px;
    }
}

@media (max-width:768px) {
    .space {
            width: 5%;
        }
    ul .choice .options {
        font-size: 10px;
        width: 100%;
    }
    .mode-changer{
        margin-right: 5%;
    }

    .quize-title{
        margin-left: 10%;
    }
                              
   
    .subbtn,.subbtn_ {
        width: 660px;  
        margin-left: -5.8%;
        height: 70px;
        border-radius: 12px;
    }
        .current-number {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    
        .Question {
            margin-bottom: 15px;
            max-width: 400px;
        }
    ul .choice {
        height: 56px;
        max-width: 640px;
        border-radius: 12px;
       
    }
    ul .choice span{
        width: 45px;
        height: 45px;
    }
        .quize-title span,
        .quiz-title span {
            width: 35px;
            height: 35px;
            
        }
        .quize-title span img,
        .quiz-title span img {
            width: 29px;
            height: 29px;
        }
        
        .right-side{
            margin-left: 3%;
        }

        .left-side {
            margin-left: 6%;
            margin-bottom: 5%;
        }
        .result-page{
            display: flex;
            flex-direction: column;
            margin-left: 12%;
            
        }
        .results{
            width: 640px;
            height: 388px;
        }

        .complete {
            font-size: 56px;
        }

        .scored {
            font-size: 56px;
        }
        .trybtn
        {
            width: 640px;
            border-radius: 12px;
            height: 80px;
        }
        .spacer {
            width: 100%;
        }
        
        .score{
            font-size:120px;
        }
}

 @media (max-width:700px) {

     .subbtn,
     .subbtn_ {
        width: 596px;
        margin-left: 2%;
     }

 }

 @media (max-width:600px) {

     .subbtn,
     .subbtn_ {
         width: 535px;
         margin-left: 2%;
     }

 }

@media (max-width:450px) {

    ul .choice {
        height: 56px;
        width: 327px;
        border-radius: 12px;
       
    }
    ul li{
        font-size: 70px;
    }
    .left-side
    {
        width: 300px;
        
    }
    .right-side{
        margin-left: 3.5%;
    }
    ul .choice span {
        width: 40px;
        height: 40px;
        
    }
    .subbtn,.subbtn_{
        width: 340px;
        height: 67px;
        margin-right: auto;
        border-radius: 12px;
    }
    .current-number {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .Question {
        margin-bottom: 15px;
    }
    .results
    {
        max-width: 350px;
        max-height: 242px;
        margin-top: 5%;
    }
    .complete{
        font-size: 40px;
    }

    .scored{
        font-size: 40px;
    }
    .trybtn{
        max-width: 350px;
        border-radius: 10px;
        font-family: 'Rubik-Medium.ttf';
    }
    .spacer {
        width: 100%;
    }
    .result-page{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
    } 
    .quize-title{
        margin-left: 15%;
        
    }

    .quiz-title{
        margin-top: 20px;
    }
    .score{
        font-size: 50px;
    }

    
    
}

@media (max-width:410px) {

    ul .choice {
        height: 56px;
        width: 327px;
        border-radius: 12px;

    }

    ul li {
        font-size: 70px;
    }

    .left-side {
        width: 300px;

    }

    .right-side {
        margin-left: -0.3%;
    }

    ul .choice span {
        width: 40px;
        height: 40px;

    }

    .subbtn,
    .subbtn_ {
        width: 340px;
        height: 67px;
        margin-right: auto;
        border-radius: 12px;
    }

    .current-number {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .Question {
        margin-bottom: 15px;
    }

    .results {
        max-width: 350px;
        max-height: 242px;
        margin-top: 5%;
    }

    .complete {
        font-size: 40px;
    }

    .scored {
        font-size: 40px;
    }

    .trybtn {
        max-width: 327px;
        border-radius: 10px;
        font-family: 'Rubik-Medium.ttf';
    }

    .spacer {
        width: 100%;
    }

    .result-page {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

    .quize-title {
        margin-left: 8%;

    }

    .quiz-title {
        margin-top: 20px;
    }

    .score {
        font-size: 50px;
    }



}

@media (max-width:375px) {

    ul .choice{
        max-width: 300px;
    }
         .right-side {
            margin-left: 2%;
         }
    .subbtn,.subbtn_{
        max-width: 320px;
        height: 67px;
    }

    .results {
        max-width: 327px;
        max-height: 242px;
        margin-top: 5%;
    }


    .result-page{
        margin-left: 10%;
    }

    .quize-title
    {
        margin-left: 10%;
    }
    
}
@media (max-width:320px) {

    ul .choice {
        max-width: 270px;
       
    }

    .right-side{
        margin-left: 0.5%;
    }

    .subbtn,
    .subbtn_ {
        max-width: 280px;
        margin-left: 5%;
        height: 70px;
       
    }
    .progress-bar{
        max-width: 280px;
    }
    .progress-fill{
        max-width: 280px;
    }

    .results
    {
        max-width: 280px;

    }
    .trybtn{
        max-width: 280px;
    }

}

.vertical-spacer{
    height: 3rem;
}
.results
{   
    background: var(--listbg);
    box-shadow: var(--shadow);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-content{
    width: 100%;
   
}

.left-content .title{
    font-weight: lighter;
    font-size: 56px;
    font-family: 'Rubik Regular';
    line-height: 100%;
    padding-bottom: 10px;
}

.btn-control
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.btn-control p{

    margin-top: 15px;
    font-weight: bold;
    color: #EE5454;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.btn-control p img{
    width: 29px;
    height: 29px;
} */
.trybtn{
    transition: 0.5s ease-in;
}


