*
{
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #F4F6FA;
    --laptop: url("../public/pattern-background-desktop-light.svg");
    --tablet:url("/public/pattern-background-tablet-light.svg");
    --mobile:url("/public/pattern-background-mobile-light.svg");
    

}
body{
    background-color: var(--background-color);
    
}

.darkmode {
    --background-color: #313E51;;
    --laptop: url("../public/pattern-background-desktop-dark.svg");
    --tablet: url("/public/pattern-background-tablet-dark.svg");
    --mobile: url("/public/pattern-background-mobile-dark.svg");
    transition: 0.3s ease-out;
    
}

.Question{
    font-family: 'Rubik-Medium.ttf';
}

.subbtn{
    font-family: 'Rubik-Medium.ttf';
}
.out p{
    font-family: 'Rubik-Medium.ttf';
}



@media (min-width:769px) {
    .innerpage {
            position: relative;
            top: 10%;
        }
        
    
    .page {
            background-image: var(--laptop);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40rem;
    
        }
}

@media (max-width:768px) {

    .page {
        background-image: var(--tablet);
        background-position: -10vh;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }
}

@media (max-width:450px) {

    .page {
        background-image:var(--mobile);
        background-position: 0.5vh;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
       

    }
}

